//additional

.mainContainer__additional
    max-width: 32.259%
    min-width: 300px
    width: 100%
    height: 100%

.additional__header
    max-width: 600px
    min-width: 300px
    width: 100%

.additional__box
    max-width: 600px
    min-width: 300px
    width: 100%
    height: calc(100vh - 120px)
    background-color: #fff

.additional__footer
    max-width: 600px
    min-width: 300px
    width: 100%